/* Footer Component */
:root {
  --mainDark: #343a40;
  --mainGray: rgba(109, 109, 109);
  --mainLightGray: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

/* Products Component */

h1 {
  text-align: center;
}

.h5 {
  text-align: center;
}

.box {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 1rem;
}

.p {
  color: green;
  font-size: 0.9rem;
}
